body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fafafa;
}
 .container {
    width: 1010px;
    margin: 0 auto;
}
 nav {
    background-color: #FFF;
    padding: 30px 0;
    border-bottom: 1px solid #00000019;
}
 nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 nav .logo .line {
    width: 1px;
    height: 46px;
    background-color: #262626;
    margin: 0 30px;
}
 nav .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 nav .search input {
    width: 308px;
    height: 40px;
    border-radius: 4px;
    border: solid 1.5px #d6d6d6;
    /*background-color: #fafafa;*/
    
    font-size: 22px;
    color: #a7a7a7;
    box-sizing: border-box;
    
    background: #fafafa url('../icons/search_icon.png') no-repeat 15px;
    padding-left: 40px;
}
 nav .links ul {
    display: flex;
    justify-content: space-between;
}
 nav .links ul li {
    list-style: none;
    margin-left: 45px;
}
 nav .links ul li:first-of-type {
    margin-left: 0;
} 